*{
    font-family: "Helvetica", Sans-Serif;
}
header{
    background-color: #699FA1;
    height: 60px;
    background-size: cover;
    background-position: center;
}

.logo img{
    float: left;
    height: 40px;
    width: auto;
    margin: 10px;
}

ul[id="navigation_bar"]{
    float: right;
    margin: 20px 5px 20px 5px;
}

ul[id="navigation_bar"] li{
    display: inline-block;
}

ul[id="navigation_bar"] li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 3px solid transparent;
}

ul[id="navigation_bar"] li a:hover{
    background-color: white;
    color: #699FA1;
}


ul[id="navigation_bar"] li.home a{
    background-color: white;
    color: #699FA1;
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
    background-color: #699FA1;
    color: white;
}

footer p{
    padding: 5px;
    font-size: 12px;
    float: right;
}