{% extends "base.html" %}

{% block rel %}
    <link rel="stylesheet" href="/static/css/signup.css">
{% endblock %}

{% block content %}
    <h3 class="title">Sign Up</h3>
    {% with message = get_flashed_messages() %}
        {% if message %}
            <div>
                {{ message[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <form action="/signup" method="POST">
        <div>
        <label> Name: </label>
        <input type="text" name="name" placeholder="Name" autofocus=""><br>
        </div>

        <div>
        <label> Email: </label>
        <input type="email" name="email" placeholder="Email" autofocus=""><br>
        </div>

        <div>
        <label> Password: </label>
        <input type="password" name="password" placeholder="Password"><br>
        </div>

        <div>
        <label></label>
        <button>Sign Up</button>
        </div>

    </form>


    <div class="password_rules">
        <h4>Password must contain the following:</h4>
        <ul class="rules">
            <li>Lowercase</li>
            <li>Capital (uppercase)</li>
            <li>Number</li>
            <li>Minimum 8 characters</li>
        </ul>
    </div>

{% endblock %}