{% extends "base.html" %}

{% block content %}
    <h3 class="title">Upload</h3>
    {% with message = get_flashed_messages() %}
        {% if message %}
            <div>
                {{ message[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <form action="/upload" method="POST" entype="multipart/form-data">
        <p>Evidence related Info</p>
        <label for="ev_name">Evidence name: </label>
        <input type="text" name="ev_name" placeholder="evidence name" required autofocus=""><br>
        <label for="proj_name">Project name: </label>
        <input type="text" name="proj_name" placeholder="project name" required><br>
        <label>
            <p>Description: </p>
            <textarea name="description" cols="20" rows="5" wrap="soft"> </textarea>
        </label>
        <label>
            <p>Enter keyword for criteria searching:</p>
            <input type="text" name="key_word" placeholder="ex: network security"><br>
        </label>
        <label>
            <p>Upload your file:</p>
            <input type="file" name="file_upload"><br>
        </label>
        <button>Submit</button>
    </form>
{% endblock %}