ul[id="navigation_bar"] li.search{
    border-bottom-color: #FF844B;
}

ul[id="navigation_bar"] li.search a{
    color: #FF844B;
}

.body-content {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  box-sizing: border-box;
  background: #4c60aa;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  width: 100%;
  margin: 0 auto;
  line-height: 20px;
  text-align: left;
  padding: 5px 0 5px 10px;
}

div{
  margin-bottom: 10px;
  margin-top: 10px;
}

select{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 5px 10px 5px 10px;
    background: white;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    cursor: pointer;
    color: rgba(96,96,96,1);
    font: normal 15px/normal Arial, Helvetica, sans-serif;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 7px;
    border-radius: 7px;

}

option{
     color: #223254;
   }

option[value=""][disabled]{
    display: none;
      }


option:focus{
   outline: none;
   border-color: #0077FF;
   box-shadow: 0 0 0 2px;
   rgba(#0077FF,.2);
       }


option:hover {
    stroke: #0077FF;
    }


.search-bar{
  position: relative;
  width: 760px;
  height : 450px;
  margin : 0 auto;
  padding: 1em;
  box-sizing: border-box;
  background : #FFF;
}


label {
  width: 150px;
  vertical-align: center;
  text-align: center;
}

input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
  border-radius: 5px;
}

input[type=text], textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 5px 10px 5px 10px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  font: normal 15px/normal Arial, Helvetica, sans-serif;
  color: rgba(96,96,96,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(255,255,255,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

input[type=submit] {
  width: 80px;
  height: 30px;
  border: transparent;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  background: #4c60aa;
  text-align: center;
}

input[type=submit]:hover {
  background: #bfcdff;
}

.pagination {
  display: inline-block;
}

.pagination a {

  border: transparent;
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  background: #677bc5;
  text-align: center;
}

.pagination a.active {
  background-color: #4c60aa;
  color: white;
  border: 1px solid #4c60aa;
}

.pagination a:hover
{background: #bfcdff;}

.view {
  border: transparent;
  text-decoration-color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  background: #677bc5;
  text-align: center;
  border-radius: 7px;

}
.view a.active {
  background-color: #4c60aa;
  color: white;
  border: 1px solid #4c60aa;
}

.view a:hover
{background: #bfcdff;}

.view a:link {
  text-decoration: none;
  text-decoration-color: white;
}
.view {
  display: inline-block;
}
.result-table{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
}
  li.table-header, li.table-row {
    border-radius: 3px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 30%;
  }
  .col-3 {
    flex-basis: 35%;
  }
  .col-4 {
    flex-basis: 60%;
  }
  .col-5 {
    flex-basis: 20%;
  }
  .col-6 {
    flex-basis: 35%;
  }

  @media all and (max-width: 567px) {
    .table-header {
      display: none;
    }
    .table-row {
    }
    li {
      display: block;
    }
    .col {
      flex-basis: 70%;
    }
    .col {
      display: flex;
      padding: 5px 0;
    }
    col:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
  }

i.fa-check{
    color: #1fa11f;
  }
i.fa-close{
    color: #c70606;
  }
i.fa-exclamation-triangle{
    color: #fdc50a;
}




