{% extends "base.html" %}

{% block rel %}
    <link rel="stylesheet" href="/static/css/criteria.css">
{% endblock %}

{% block page_title %}
    <title>Manage Users</title>
{% endblock %}

{% block content %}
    {% if allow_modification %}
        <h3 class="title">Add New Criteria</h3>

        <form class = "create-criteria" action="/criteria/creation" method="POST" enctype="multipart/form-data">
            <div>
                <label>Criteria Name: </label>
                <input type="text" name="criteria_name" placeholder="criteria name" autofocus=""><br>
            </div>
            <div>
                 <label>Criteria Description</label>
                <input type="text" name="description" autofocus=""><br>
            </div>
            <div>
                <label> Upload criteria file:</label>
                <input type="file", name="criteria_file"><br>
            </div>
            <div>
                <label></label>
                <input type="submit" name="action" value="Submit"/>
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    {% endif %}

    {% if not criteria_list %}
        <h3 class="title">No Criteria Exist</h3>
    {% else %}

        <h3 class="title">Criteria List</h3>
        <ul class = "criteria-list-table">
            <li class = "list-header">
                <div class = "col col-1" data-label="id">ID</div>
                <div class = "col col-2" data-label="name">Name</div>
                <div class = "col col-3" data-label="description">Description</div>
                <div class = "col col-4" data-label="user">Creator</div>
                <div class = "col col-5" data-label="delete"></div>
            </li>
            <form action="/criteria/delete" method="POST">
            {% for criteria in criteria_list %}
                <li class = "list-row">
                        <div class = "col col-1" data-label="id">
                        <input type="text" name="criteria_to_remove_id" value="{{ criteria.id }}" readonly/>
                        </div>
                        <div class = "col col-2" data-label="name">{{ criteria.name }}</div>
                        <div class = "col col-3" data-label="description">{{ criteria.description }}</div>
                        <div class = "col col-4" data-label="user">{{ criteria.user.name }}</div>
                        <div class = "col col-5" data-label="delete">
                            {% if allow_modification %}
                                <input type="submit" name="action" value="Delete"/>
{#                            {% else %}#}
{#                                <input type="submit" name="action" value="Delete" disabled/>#}
                            {% endif %}
                        </div>
                  </li>
                </form>
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}