{% extends "base.html" %}

{% block rel %}
    <link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block content %}
    <h3 class="title">Login</h3>
    {% with message = get_flashed_messages() %}
        {% if message %}
            <div>
                {{ message[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <form action="/login" method="POST">
        <div>
            <label> E-mail: </label>
            <input type="email" name="email" placeholder="Email" autofocus=""><br>
        </div>
        <div>
            <label> Password: </label>
            <input type="password" name="password" placeholder="Password"><br>
        </div>
        <div>
            <label></label>
            <input type="checkbox" name="remember"> Remember me<br>
        </div>
        <div>
            <label></label>
            <button>Login</button>
        </div>
    </form>
{% endblock %}
