{% extends "base.html" %}

{% block rel %}
    <link rel="stylesheet" href="/static/css/search.css">
{% endblock %}

{% block page_title %}
    <title>Search Evidence</title>
{% endblock %}

{% block content %}
    <h3 class="title">Search Evidence</h3>
    <form class = search-bar action="{{ url_for('evidence.search_post') }}" method="POST">
            <div>
                <label>ID:</label>
                <input type="text" id="id" name="id" placeholder="e.g 0001" pattern="[0-9]{4}">
            </div>

            <div>
                <label>Criteria:</label>
                <select name="criteria" id="criteria">
                <option value="" selected = "selected">Select criteria</option>
                {% for criteria_name in criteria_names %}
                    <option value="{{ criteria_name }}" >{{ criteria_name }}</option>
                {% endfor %}
                </select>

                <label>Project:</label>
                <select name="project" id="project">
                <option value="" selected = "selected">Select project</option>
                    {% for project_name in project_names %}
                    <option value="{{ project_name }}">{{ project_name }}</option>
                {% endfor %}
                </select>

                <label>Employee Name:</label>
            <select name="employee_name"  id="employee_name">
                <option value="" selected = "selected">Select employee name</option>
                    {% for employee_name in employee_names %}
                    <option value="{{ employee_name }}">{{ employee_name }}</option>
                {% endfor %}
            </select>
            </div>

            <div>
                <label>Create Time:</label>
                <input type="text" id="create_time" name="create_time" placeholder="yyyy/mm/dd" pattern="^\d{4}/(0[1-9]|1[0-2])/(0[1-9]|[12][0-9]|3[01])$">
                <label>Last Edit Time:</label>
                <input type="text" id="ledit_time" name="ledit_time" placeholder="yyyy/mm/dd" pattern="^\d{4}/(0[1-9]|1[0-2])/(0[1-9]|[12][0-9]|3[01])$">
            </div>
            <input type="submit" name="action" value="Search"/>

        {% with message = get_flashed_messages() %}
        {% if message %}
            <div>
                {{ message[0] }}
            </div>
        {% endif %}
        {% endwith %}



    {% if results %}
       <div class = "result-table">
        <ul class = "responsive-table">
            <li class = "table-header">
                <div class="col col-1 ">ID</div>
                <div class="col col-2 ">Name</div>
                <div class="col col-3 ">Project Name</div>
                <div class="col col-4 ">Last Edit Time</div>
                <div class="col col-5 "></div>
            </li>

        {% for evidence in results.items %}
            <li class = "table-row">
                <div class = "col col-1">{{ evidence.id}}</div>
                <div class = "col col-2">{{ evidence.name }}</div>
                <div class = "col col-3">{{ evidence.project_name }}</div>
                <div class = "col col-4">{{ evidence.last_edit_time}}</div>
                <div class = "col col-5"><a href="{{ url_for('evidence.view') }}?evidence_id={{ evidence.id }}">View</a></div>

            </li>
        {% endfor %}
         </ul>
        </div>
        <div class = "pagination">
            {% if results.has_prev %}<a href="{{ url_for('evidence.search_post', page=results.prev_num) }}"> &lt;&lt; Previous </a>
            {% endif %}
            {% if results.has_next %}<a href="{{ url_for('evidence.search_post', page=results.next_num) }}">Next &gt;&gt; </a>
            {% endif %}
        </div>

    {% endif %}

    </form>
{% endblock %}