{% extends "base.html" %}

{% block rel %}
    <link rel="stylesheet" href="/static/css/upload.css">
{% endblock %}

{% block page_title %}
    <title>Upload</title>
{% endblock %}

{% block content %}
    <h3 class="title">Upload Evidence</h3>
    <form action="/upload" method="POST" enctype="multipart/form-data">
         <div>
            <label>Evidence name: </label>
            <input type="text" name="ev_name" placeholder="evidence name" required autofocus=""><br>
         </div>
         <div>
             <label>Project name: </label>
             <input type="text" name="proj_name" placeholder="project name" required><br>
         </div>
         <div>
             <label>Description:</label>
             <textarea name="description" cols="20" rows="5" wrap="soft"> </textarea>
         </div>
         <div>
             <label>Choose criteria for your evidence from the list:</label>
             <p>
                 <select name="criteria" id="lang" size="8">
                     {% for criteria in criteria_list %}
                     <option value= {{ criteria.id  }}>{{ criteria.name }}</option>
                     {% endfor %}}
                 </select>
             </p>
         </div>
         <div>
             <label>Upload your file:</label>
             <p>
                 <input type="file" name="file_upload" required><br>
             </p>
         </div>
         <div>
             {% with messages = get_flashed_messages() %}
             {% if messages %}
             <ul class=flashes>
                 {% for message in messages %}
                 <li>{{ message }}</li>
                 {% endfor %}
             </ul>
             {% endif %}
             {% endwith %}
         </div>
         <div>
             <input type="submit" value="Submit">
         </div>
    </form>
{% endblock %}