{% extends "base.html" %}

{% block rel %}
    <link rel="stylesheet" href="/static/css/view.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block page_title %}
    <title>View Evidence</title>
{% endblock %}

{% block content %}
    <h3 class="title">View Evidence</h3>
    <form action="/update_evidence" method="POST" enctype="multipart/form-data">
        <table id="evidence_info">
            <tr>
                <td><p class="evidence-title">Evidence ID:</p></td>
                <td>
                    <input type="text" name="evidence_id" value="{{ evidence.id }}" readonly/>
                </td>
            </tr>
            <tr>
                <div>
                    <td><p class="evidence-title">Evidence Name:</p></td>
                <td>{{ evidence.name }}</td>
                </div>
            </tr>
            <tr>
                <div>
                    <td><p class="evidence-title">Creator:</p></td>
                <td>{{ creator.name }}</td>
                </div>
            </tr>
            <tr>
                <div>
                    <td><p class="evidence-title">Create Date:</p></td>
                <td>{{ evidence.create_date_time }}</td>
                </div>
            </tr>
            <tr>
                <div>
                    <td><p class="evidence-title">Last Edit Time:</p></td>
                <td>{{ evidence.last_edit_time }}</td>
                </div>
            </tr>
            <tr>
                <div>
                    <td><p class="evidence-title">Project Name:</p></td>
                <td>{{ evidence.project_name }}</td>
                </div>
            </tr>
            <tr>
                <div>
                    <td><p class="evidence-title">Criteria:</p></td>
                <td>{{ linked_criteria.name }}</td>
                </div>
            </tr>
            <tr>
                <div class = "description-box">
                <td><p class="evidence-title">Description:</p></td>
                <td>
                <textarea name="description">{{ evidence.description }}</textarea>
                </td>
                </div>

            </tr>
            <tr>
                <td>
                    <p class="content-title">Current Content:</p>
                </td>
                <td>
                    <div class = "description">
                        <p>{{ evidence.content }}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td><p class="evidence-title">To replace the content:</p></td>
                <td>
                    <input type="file" name="file_upload">
                </td>
            </tr>
            <tr>
                <td>Current Status: </td>
                <td>
                    {% if evidence.status == 1 %}
                        <td class="p6">
                            Approved
                            <i class="fa fa-check" style="font-size:24px"></i>
                        </td>
                    {% endif %}
                    {% if evidence.status == 0 %}
                        <td class="p6">
                            Pending
                            <i class="fa fa-exclamation-triangle" style="font-size:24px"></i>
                        </td>
                    {% endif %}
                    {% if evidence.status == -1 %}
                        <td class="p6">
                            Disapproved
                            <i class="fa fa-close" style="font-size:24px"></i>
                        </td>
                    {% endif %}
                </td>
            </tr>
        </table>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <input type="submit" value="Submit Changes" name="action"><br>
        {% if can_approve %}
            <div>
                <input type="submit" value="Approve" name="action">
                <input type="submit" value="Return to Pending" name="action">
                <input type="submit" value="Disapprove" name="action">
            </div>
        {% endif %}
    </form>
{% endblock %}
