{% extends "base.html" %}

{% block rel %}
    <link rel="stylesheet" href="/static/css/welcomePage.css">
{% endblock %}

{% block page_title %}
    <title>Welcome to Manage Your Security Evaluations</title>
{% endblock %}

{% block content %}
    {% if not current_user.is_authenticated %}
        <h1>Manage Your Security Evaluations</h1>
        <div class = 'welcome_login'>
            <a href="{{ url_for('auth.login') }}">Login</a>
        </div>
    {% elif current_user.is_authenticated %}
        <h2>Welcome, {{ current_user.name }}!</h2>
        <form action="/update" method="POST">
            <div>
                <label class="title">Your Profile</label>

            </div>
            <div>
                <label class="attribute">Name: </label>
                <input type="text" name="name" value="{{ current_user.name }}"/>
            </div>
            <div>
                <label class="attribute">Email: </label>
                <label>{{ current_user.email }}</label>
            </div>
            <div>
                <label class="attribute">Role:</label>
                <label>{{ current_user.role.name }}</label>
            </div>
            <div>
                <label class="attribute">New Password:</label>
                <input type="password" name="password" placeholder="Password"><br>
            </div>
            <div>
                <input type="submit" name="action" value="Update"/>
            </div>
        </form>

        <div>
            {% if current_user.role == 'dev' or current_user.role == 'admin' %}
                <h2>Evidence Uploaded by you: </h2>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
