{% extends "base.html" %}

{% block rel %}
    <link rel="stylesheet" href="/static/css/welcomePage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block page_title %}
    <title>Welcome to Manage Your Security Evaluations</title>
{% endblock %}

{% block content %}
    {% if not current_user.is_authenticated %}
        <div class="pre_login">
        </div>
        <h1>Manage Your Security Evaluations</h1>
        <div class='welcome_login'>
            <a href="{{ url_for('auth.login') }}">Login</a>
        </div>
    {% elif current_user.is_authenticated %}
        <div class="after_login">
        </div>
        <div class="container">
            <div class="user_info">
                <h2>Welcome, {{ current_user.name }}!</h2>
                <form action="/update" method="POST">
                    <div>
                        <label class="title">Your Profile</label>
                    </div>
                    <div>
                        <label class="attribute">Name: </label>
                        <input type="text" name="name" value="{{ current_user.name }}"/>
                    </div>
                    <div>
                        <label class="attribute">Email: </label>
                        <label>{{ current_user.email }}</label>
                    </div>
                    <div>
                        <label class="attribute">Role:</label>
                        <label>{{ current_user.role.name }}</label>
                    </div>
                    <div>
                        <label class="attribute">New Password:</label>
                        <input type="password" name="password" placeholder="Password"><br>
                    </div>
                    <div>
                        <label class="attribute"></label>
                        <input type="submit" name="action" value="Update"/>
                    </div>
                </form>
            </div>
            <div class="evidence_list">
                {% if evidence_list %}
                {% if current_user.role.name == 'DEV' or current_user.role.name == 'Admin' %}
                <h2>Evidence Uploaded by {{ current_user.name }}: </h2>
                <table id="evidence_list">
                    <thead>
                        <tr>
                            <th class="p1">ID</th>
                            <th class="p2">Name</th>
                            <th class="p3">Project Name</th>
                            <th class="p6">Status</th>
                            <th colspan="2" class="p4">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evidence in evidence_list %}
                        <form action="/delete_evidence" method="POST">
                            <tr>
                                <td class="p1">
                                    <input type="text" class="id" name="evidence_id" value="{{ evidence.id }}"
                                           readonly/>
                                </td>
                                <td class="p2">{{ evidence.name }}</td>
                                <td class="p3">{{ evidence.project_name }}</td>
                                {% if evidence.status == 1 %}
                                    <td class="p6">
                                <i class="fa fa-check" style="font-size:24px"></i>
                                    </td>
                                {% endif %}
                                {% if evidence.status == 0 %}
                                    <td class="p6">
                                <i class="fa fa-exclamation-triangle" style="font-size:24px"></i>
                                    </td>
                                {% endif %}
                                {% if evidence.status == -1 %}
                                    <td class="p6">
                                <i class="fa fa-check" style="font-size:24px"></i>
                                    </td>
                                {% endif %}
                                <!--td class="p6">{{ evidence.status }}</td-->
                                <td class="p5">
                                    <a href="{{ url_for('evidence.view') }}?evidence_id={{ evidence.id }}">View</a>
                                </td>
                                <td class="p5"><input type="submit" value="Delete"></td>
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                {% endif %}
            </div>
        </div>

    {% endif %}
{% endblock %}
